h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large; 
    text-align: center;
    
}
body{
    background-image: url(aa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

img{ 
    image-size: 250px,250px; 
    
    
}